* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.klasseContent {
    display: grid;
}

.baggrunden {
    width: 100%;
    height: 96vh;
    background-color: #001f3f;
}

.login {
    margin: 15% 40% 10% 40%;
    padding: 20px 20px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 30px auto 30px;
    justify-items: center;
    grid-gap: 10px;
    grid-row: 1/5;
    grid-column: 1/2;
    background: rgb(117, 119, 119);
    background: linear-gradient(0deg, rgba(117, 119, 119, 1) 2%, rgba(216, 216, 216, 1) 100%);
    align-items: center;
    -webkit-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
}

#loginErrorMsg {
    color: red;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: "Calibri Light";
}

.frontpageLogin {
    margin: 10% 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 80% auto auto auto auto;
    justify-items: center;
    grid-gap: 10%;
}

.frontpageContainer{
    display: grid;
    grid-gap: 5%;
    grid-template-columns:  repeat(8, 100px);
    grid-template-rows: repeat(8, 80px);
    align-items: center;


}

.overviewFrontpage{
    grid-column: 3 / 6;
    grid-row: 2 / 6;
    border: 1px solid rgba(0, 0, 0, 0.8);
    align-self: stretch;
}

.btnDIV {
    grid-column: 3 / 6;
    grid-row: 6;
    border: 1px solid rgba(0, 0, 0, 0.8);
}

#btnMySelf {
    grid-column: 3/4;
    grid-row: 6;
    align-self: end;
    height: 50px;
    width: 100px;
}

#btnEast {
    grid-column: 3 / 4;
    grid-row: 6;
    align-self: end;
    height: 50px;
    width: 100px;
}

#btnCentrum {
    grid-column: 4 / 5;
    grid-row: 6;
    align-self: end;
    height: 50px;
    width: 100px;
}

#btnNorth {
    grid-column: 5 / 6;
    grid-row: 6;
    align-self: end;
    height: 50px;
    width: 100px;
}

.signUp {
    margin: 10% 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    grid-gap: 10%;
}

.opdeling {
    display: grid;
    grid-template-columns: auto auto;
    height: 100vh;
    grid-column-gap: 20px;
}

.deleteAccount {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-items: center;
    justify-self: start;
    align-self: center;
    grid-row-gap: 30px;
}

.NoAccessPlacement{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-items: center;
    justify-self: start;
}

#scrollBoxAccounts {
    justify-self: end;
    align-self: center;
    border: none;
    padding: 5px;
    font: 24px/36px sans-serif;
    width: 400px;
    height: 400px;
    overflow: scroll;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #339966 0%, #33cc33 100%);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    display: grid;
    grid-template-columns: 50%;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}


::-webkit-scrollbar {
    width: 12px;
    height: 12px;

}

::-webkit-scrollbar-track {
    border: 1px solid yellowgreen;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: yellowgreen;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #88ba1c;
}

/* Overskiften "h1"*/
.OverskiftenOverHeader{
    margin-left: 160px;
    text-align: center;
    font-size: 40px;
    font-family: "Times New Roman";
}

/* Div over Afldeling med Oversigt og Opdatere*/
.DivOverviewOverSection {

    border: 2px darkgray;
    border-radius: 12px;
    width: 80%;
    height: 80%;
    margin: 1% auto 2% 165px;
    padding: 3%;
    background-color: whitesmoke;


    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 3%;
}

/* Div over Opret opgave for valgte afdeling*/
.OverviewOverCreatedTasks{
    border: 2px darkgray;
    border-radius: 12px;
    width: 80%;
    height: 80%;
    margin: 1% auto 2% 165px;
    padding: 3%;
    background-color: whitesmoke;


    display: grid;
    /*grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
     */
    justify-items: center;
    gap: 3%;


}


/* Knappen for sletting */
.btnDelete {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    /*border-radius: 12px;*/
}

/*Overskrift For Afdelingerne på grid Div*/
.HeaderForSections{
    text-align: center;
}



/* Div Over Oversigten til Opgaverne*/
#OverviewOverListView {
    border: 1px solid green;
    height: 400px;
    width: 100%;
    border-radius: 4px;
    overflow-y: scroll;
}

/* Div Over Oversigten til Infomation af opgaverne*/
#OverviewOverInfomationForTask{
    /*
    border: 1px solid green;
    background-color: whitesmoke;
    height: 400px;
    width: 100%;
    border-radius: 4px;
    overflow-y: scroll;
    */
    font-size: 20px;
}

/* Knapper der får afdeling vist*/
.btnForDropDownMenu{
    padding: 6px 8px 6px 16px;
    font-size: 25px;
    color: black;
    display: block;
    border: none;
    background: none;
    font-family: "Times New Roman";
}

/* Dropdown Menuen for Opgaver i venstre side */
.DropDownMenuForTask{
    display: none;
    padding-left: 16px;
}



/* Textarealet i Opgaven delen (Tasks) */
textarea{
    resize: none;
    overflow-y: scroll;
    height: 100px;
    width: 200px;
}

table tr{
    width: 100px;
}

/* ----------------- Tilhører SectionCentrum -----------------*/

#OverviewOverListViewCentrum {
    border: 1px solid green;
    background-color: white;
    height: 400px;
    width: 100%;
    border-radius: 4px;
    overflow-y: scroll;
  }

/* task - handlebar*/
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  .collapsible:after {
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }

/* ----------------- Tilhører SectionEast -----------------*/

#OverviewOverListViewEast{
    border: 1px solid green;
    background-color: white;
    height: 400px;
    width: 100%;
    border-radius: 4px;
    overflow-y: scroll;
}

/* ----------------- Tilhører SectionNorth -----------------*/

#OverviewOverListViewNorth{
    border: 1px solid green;
    background-color: white;
    height: 400px;
    width: 100%;
    border-radius: 4px;
    overflow-y: scroll;
}



/* ----------------- "Tag opgave" afdelinger -----------------*/

.takeTask{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    float: right;
} 
.takeTask:disabled,
.takeTask[disabled]{
  display:  none;
}