<div>
    <label>Task: </label>{{name}}<BR />
    <label>Status: </label>{{status}}<BR />
    <label>Deadline: </label>{{deadline}}<BR />
    <label>Description: </label>
    <button type="button" class="collapsible">Open Collapsible</button>
    <div class="content">
        <p>{{description}}</p>
    </div>
</div>