{{#each task}}
    <li>
        <label class="overviewLabelTop" data-customid="{{_id}}"> {{name}}</label><BR>
        <label class="overviewLabelBot"> Status: {{status}}, Ansvarlig: {{responsible}}</label>
    </li>
{{/each}}